body {
    background: #e2e1e1;
    padding: 0;
    margin: 0;
    font-family: 'Dosis', sans-serif;
}
.wrapper {
    height: 400px;
    width: 520px;
    background: #040404;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px 25px 20px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 4px 2px #000;
    -moz-box-shadow: 2px 2px 4px 2px #000;
    box-shadow: 2px 2px 4px 2px #000;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* ==== EXPRESSION STYLES ==== */

.expression_container {
    background: #04101C;
    width: 100%;
    position: relative;
    height: 50px;
}
.expression_container input {
    display: block;
    width: 100%;
    height: 50px;
    background: #04101C;
    border: none;
    text-align: right;
    color: white;
    font-size: 25px;
}
.expression_container input:focus {
    outline: 0;
}
/* ==== BUTTON STYLES ==== */

.button_container {
    margin-top: 40px;
    width: 100%;
    position: relative;
    height: 300px;
}
.button_container table {
    width: 100%;
    height: 100%;
    border-spacing: 10px;
}
.button_container table tr {
	line-height:60px;
}
.button_container table td {
    text-align: center;
    box-sizing:border-box;
    width:14.2857%;
}
.button_container table td button {
	font-size: 25px;
	color:white;
	width:100%;
	height:100%;
	padding:0;
	border:none;
	border-top: 1px solid #404140;
	-webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -kthtml-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.button_container table td button:focus {
	outline:0;
}

.button_container table td button:active {
	transform:scale(0.92);
}

.digit {
    background: #2C2D2D;
}
.operator {
    background: #1A1A1A;
}
